commands:
  set_npm_cache:
    command: npm config set cache /tmp/.npm
    ignoreErrors: true
  set_npm_unsafe_perm_true:
    command: npm config set unsafe-perm true
    ignoreErrors: true
  clean_npm_cache:
    command: npm cache clean --force
    ignoreErrors: true
  set_npm_cache_for_ec2_user:
    command: runuser -l ec2-user -c "npm config set cache /tmp/.npm"
    ignoreErrors: true
  set_npm_unsafe_perm_true_for_ec2_user:
    command: runuser -l ec2-user -c "npm config set unsafe-perm true"
    ignoreErrors: true
