option_settings:
  aws:elasticbeanstalk:application:environment:
    TARSALGO_TEST: HelloWorld
    NEW_RELIC_NO_CONFIG_FILE: true
    NEW_RELIC_APP_NAME: tarsalgo-relic-1
    NODE_ENV: production
    DATABASE_URL: postgres://postgres:dkdkdkskekwiwuw77w2@tarsalgo-first-database.cem1ixxggv6c.eu-central-1.rds.amazonaws.com:5432/postgres
    FORCE_DB_SYNC: true
    REDIS_URL: redis://tarsalgo-1.9yyc9o.0001.euc1.cache.amazonaws.com:6379
    S3_BUCKET: tarsalgo-test
    S3_REGION: eu-central-1
    AWS_ACCESS_KEY_ID : here_comes_your_secret_key_id
    AWS_SECRET_ACCESS_KEY : here_comes_your_secret_iam_access_key
    REDIS_URL: redis://master.redis-tarsalgo-test.9yyc9o.euc1.cache.amazonaws.com:6379
