option_settings:
  aws:elasticbeanstalk:application:environment:
    TARSALGO_TEST: HelloWorld
    NEW_RELIC_NO_CONFIG_FILE: true
    NEW_RELIC_APP_NAME: tarsalgo-relic-1
    NODE_ENV: production
    AWS_ACCESS_KEY_ID: AKIAR35HPTYCEASWMIO5
    AWS_SECRET_ACCESS_KEY: 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
    DATABASE_URL: postgres://postgres:dkdkdkskekwiwuw77w2@tarsalgo-first-database.cem1ixxggv6c.eu-central-1.rds.amazonaws.com:5432/tarsalgo-first-database
    FORCE_DB_SYNC: true
    REDIS_URL: redis://tarsalgo-1.9yyc9o.0001.euc1.cache.amazonaws.com:6379
    S3_BUCKET: tarsalgo-test
    S3_REGION: eu-central-1
    NEW_RELIC_APP_NAME = tarsalgo-test-1
    NEW_RELIC_NO_CONFIG_FILE = true
    NODE_ENV = production
    FORCE_DB_SYNC = true
    AWS_ACCESS_KEY_ID = here_comes_your_secret_key_id
    AWS_SECRET_ACCESS_KEY = here_comes_your_secret_iam_access_key
    REDIS_URL: redis://master.redis-tarsalgo-test.9yyc9o.euc1.cache.amazonaws.com:6379





